{{ define "main" }}
    <h1><a href="/albums/{{index (.Params.albums) 0}}">&nbsp;← </a>| <a href="/albums/{{index (.Params.albums) 0}}">{{index (.Params.albums) 0}}</a> / <strong>{{ .Title }}</strong></h1>
    <p>
        {{ if (.Params.film) }}film: {{.Params.film}}<br>{{ end }}
        {{ if (.Params.lens) }}lens: {{.Params.lens}}<br>{{ end }}
        {{ if (.Params.size) }}size: {{.Params.size}}{{ end }}
    </p>
    <p><a href="mailto:self@yethiel.com?subject=Print of {{.Title}}">Contact me</a> for analog prints</p>
    <div class="photo-wrapper">
    <a href="{{ (.Page.Resources.GetMatch "photo").RelPermalink }}" target="_blank"><img class="img-decorate photo-single" src="{{ ((.Page.Resources.GetMatch "photo").Resize "x1000" ).RelPermalink }}"></a>
    </div>
    {{ .Content }}

{{ end }}
