{{ define "main" }}
  <h1><a href="..">&nbsp;← </a>| <a href="..">{{.Type | pluralize}}</a> / <strong>{{ .Title | lower }} </strong></h1>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}
  <!-- Ranges through content/posts/*.md -->
  <div class="image-grid">
  {{ range .Pages }}
    <div class="image-grid__entry">
    <a href="{{.Permalink}}">
      <img class="thumbnail" src="{{ ((.Resources.GetMatch "photo").Resize "140x" ).RelPermalink }}"><br>
      {{.Title}}
     </a>
    </div>
  {{ end }}
  </div>
{{ end }}
