{{ define "main" }}

    <h1 id="title">{{ .Title | lower }}</h1>

    {{ $data := .Data }}
    
    {{.Content}}

    <div class="image-grid">
        {{ range $key,$value := .Data.Terms.ByCount }}
            <div class="image-grid__stack">
                <a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">
                    <div class="image-grid__stack-placeholder">
                    {{ range first 3 $value.Pages.ByDate }}
                        <img class="img-stack" style="height: 86px;" src="{{ ((.Resources.GetMatch "photo").Resize "120x" ).RelPermalink }}">
                    {{ end }}
                    </div>
                    {{ $value.Name }} [{{ $value.Count }}]
                </a>
            </div>
        {{ end }}
    </div>
    <p><a href="/photo/">View all</a></p>
{{ end }}
