{{ define "main" }}
    <h1>music projects</h1>
    {{.Content}}
        {{ range .Pages }}
            <div class="music-album">
            <iframe style="border: 0; width: 170px; height: 170px;" src="https://bandcamp.com/EmbeddedPlayer/album={{.Params.album_id}}/size=large/bgcol=ffffff/linkcol={{replace .Params.color "#" ""}}/minimal=true/transparent=true/" seamless><a href="{{.Permalink}}">{{.Title}}</a></iframe>
            <div class="music-description">
                <a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Title}}</a>
                <p>{{ .Summary}}</p>
            </div>
        </div>
    {{ end }}
{{ end }}
