<meta name="viewport" content="width=device-width, initial-scale=1">
{{ if (.Resources.GetMatch "photo") }}<meta property="og:image" content="{{ (.Resources.GetMatch "photo").Permalink }}" />{{ end }}
<title>{{ .Page.Title }} | {{ .Site.Title }}</title>
<link rel="stylesheet" type="text/css" href="{{ "css/style.css" | absURL }}">
<style>

{{ if.Params.color }}
    * {
        border-color: {{.Params.color}} !important;
    }
    p, #header, a,
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
        color: {{.Params.color}};
    }
    /*a:hover,*/
    h1, h2, h3, h4, h5, h6 {
        background-color: {{.Params.Color}};
    }
{{ end }}
</style>
