
{{ $color := .Params.color }}

<div class="track-wrapper" {{if $color}}style="color:{{$color}}; border-color:{{$color}};"{{end}}>
    <div class="track-title-wrapper"><a title='Open page for track "{{ .Title }}"'{{if $color}}style="color:{{$color}};"{{end}} class="track-title" href="{{.Permalink}}">{{.Title}}</a> <span class="track-title-date">{{.Date.Format "2006-01-02"}}</span></div>
    <div class="audio-player-wrapper">
        <button 
            class="audio-player-button-play display-none"
            title='Play or Pause track "{{ .Title }}"'
        >Play</button>
        <audio
            controls
            title='Track "{{ .Title }}"'
            class="audio-player"
            src="{{.Permalink}}/{{.Params.file}}">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
    </div>

    <p> 
        {{ range .Params.track_tags }}
            [<a title='View all tracks tagged with "{{ . }}"' {{if $color}}style="color:{{$color}};"{{end}} href="/track_tags/{{ urlize . }}">{{ . }}</a>] 
        {{ end }}
    </p>
</div>