* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 3px solid orange;
}

body {
    background-color: #fafafa;
    font-family: "Inconsolata", monospace;
    margin: 0 auto;
    padding: 0;
    color: #222;
    max-width: 1280px;
}

p {
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    background-color: #222;
    margin-left: 0;
    padding: .2rem .5rem;
    font-weight: normal;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1rem;
}

a {
    color: #222;
}
a:hover {
    /*color: white;*/
    background: white;

    /* filter: invert(100%); */
    outline: 2px solid rgb(73, 73, 73);
}
a:active {
    background: #222;
    color: #fce94f;
}

h1 > a, h2 > a {
    color: white;
    text-decoration: none;
}

h1 > a:hover, h2 > a:hover {
    color: white;
    background: #888;
    /* filter: invert(100%); */
    outline: 2px solid rgb(73, 73, 73);x
}

h1 > a:active, h2 > a:active {
    color: #222;
    background: #fce94f;
}

ul {
    margin-top: .5em;
    margin-left: .5em;
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}
li {
    margin-bottom: .4em;
}
li p {
    color: #555;
    margin-left: 1em;
    margin-top: .2em;
}


#header, #footer {
    letter-spacing: .1em;
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 1rem;
}

#content {
    /*background-color: #F7F7F7;*/
    margin: 2rem;
    box-sizing: border-box;
    padding-bottom: 1px;
}

#content > *:not(h1):not(h2):not(h3) {
    margin-top: 1em;
    margin-left: 1em;
    margin-bottom: .9em;
}


#content .post {
    margin: 0;
    line-height: 1.3em;
}

.post p {
    margin-left: 1em;
    margin-top: 1em;
}

.post img {
    max-height: 90vh;
}

pre {
    margin: 2em;
    padding: 0.6em 1em;
    background-color: #222;
    overflow: auto;
}



code {
    color: #222;
    padding: 0.2em 0.4em;
    border: 1px solid #DBDBDB;
}

pre > code {
    color: white;
    padding: 0;
    border: none;
    background-color: #222;
}

code, pre {
    border-radius: 2px;
}

.img-decorate {
    width: 100%;
    /*max-width: 500px;*/
    box-shadow: 6px 6px 0px #2e3436;
    border: 3px solid #eeeeec;
}

#content .post img {
    display: block;
    margin: 1em auto;
}

.image-grid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.image-grid__entry img, .image-grid__stack img {
    border: 1px solid #222;
    margin: auto auto;
    display: block;
}
.image-grid__entry a {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.image-grid__entry {
    text-align: center;
    margin: 8px 16px;
    height: 125px;
}

.image-grid__stack-placeholder {
    position: relative;
    height: 120px;
    width: 140px;
    margin: 0 auto;
}

.image-grid__stack {
    display: flex;
    text-align: center;
    position: relative;
    margin: 8px 16px;
}

.image-grid__stack img:nth-child(1) {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
}
.image-grid__stack img:nth-child(2) {
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 8px;
}
.image-grid__stack img:nth-child(3) {
    z-index: 1;
    position: absolute;
    top: 16px;
    left: 16px;
}
.image-grid__stack img:hover {
    z-index: 100;
}


.line-left {
    border-left: 1px solid #222;
}


.thumbnail {
    height: 86px !important;
}

img {
    max-width: 100%;
}


.music-album {
    display: flex;
    align-items: center;
}

.music-description {
    margin-left: 1em;
}



.photo-wrapper {
    max-width: 1000px;
}
.photo-single {
    max-width: 100%;
    width: auto;
}


.track-wrapper {

}

.track-wrapper {
    background-color: #fafafa;
    max-width: 100%;
    display: flex;
    flex-flow: column;
    border: 1px solid #222;
    margin: 2px;
    box-shadow: 4px 4px 0px #4A4A4A;
    transition: box-shadow 200ms ease-in-out;
}

.track-wrapper:hover {
    box-shadow: 5px 6px 0px #555555;
}


.track-wrapper p {
    margin: 8px 16px;
}

.track-wrapper audio {
    width: 100%;
}

.track-title-wrapper {
    margin: 8px 16px;
    display: flex;
    justify-content: space-between;
}

.track-title-wrapper > a {
    font-weight: bold;
}


.split-2 {
    margin: 0 !important;
}

.split-2 .split-container {
    

}

@media only screen and (min-width: 600px) {
    .split-2 {
        display: flex;

    }

    .split-2 .split-container {
        width: 50%;
    }
}


.container-projects,
.container-games,
.container-music-tracks,
.container-music-projects {
    padding-left: 1em;
    padding-top: 1em;
}

.container-music-tracks h2 {
    margin-bottom: 0.5em;
}

.link-more {
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 0.5em;
}

.display-none {
    display: none;
}


blockquote {
    border-left: 2px solid gray;
    margin-left: 18px;
    color: gray;
}
