{{ define "main" }}

    <h1 id="title">{{ .Title | lower }}</h1>

    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <h2><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> {{ $value.Count }}</h2>
    <ul>
    {{ range $value.Pages.ByDate }}
      <li><a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Title}}</a></li>
    {{ end }}
    </ul>
    {{ end }}

{{ end }}
