{{ define "main" }}
  <h1>{{ .Site.Title | lower }}</h1>
  
  <div class="split-2">
    <div class="split-container container-projects">
      <h2><a href="/project">projects</a></h2>
      <ul>
      {{ $.Scratch.Set "count" 0 }}
      {{ range .Data.Pages }}
        {{ if (lt ($.Scratch.Get "count") 10) }}
          {{ if eq .Type "project"}}
            {{ $.Scratch.Add "count" 1 }}
            <li><a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
      </ul>
    </div>

    <div class="split-container container-games">
    <h2><a href="/game">games</a></h2>
      <ul>
      {{ $.Scratch.Set "count" 0 }}
      {{ range .Data.Pages }}
        {{ if (lt ($.Scratch.Get "count") 10) }}
          {{ if eq .Type "game"}}
            {{ $.Scratch.Add "count" 1 }}
              <li><a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>

  <div class="split-2">

    <div class="split-container container-music-projects">
      <h2><a href="/music">latest music projects</a></h2>
      <ul>
      {{ $.Scratch.Set "count" 0 }}
      {{ range .Data.Pages }}
        {{ if (lt ($.Scratch.Get "count") 10) }}
          {{ if eq .Type "music"}}
            {{ $.Scratch.Add "count" 1 }}
              <li><a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Title}}</a></li>
          {{ end }}
        {{ end }}
      {{ end }}
      </ul>

      <a class="link-more" href="/music" title="more">[…]</a>
    
    </div>

    <div class="split-container container-music-tracks">
      <h2><a href="/track">latest tracks</a></h2>
      <div>
      {{ $.Scratch.Set "count" 0 }}
      {{ range .Data.Pages }}
        {{ if (lt ($.Scratch.Get "count") 2) }}
          {{ if eq .Type "track"}}
            {{ $.Scratch.Add "count" 1 }}
            {{ $color := .Params.color }}
            {{ partial "player.html" . }}
          <br>
          {{ end }}
        {{ end }}
        {{ end }}
      <a class="link-more" href="/track" title="more">[…]</a>
      </div>
    </div>
    

  </div> <!-- end split 2 -->
    
  <h2><a href="/albums">latest photos</a></h2>
  <div class="image-grid">
  {{ $.Scratch.Set "count" 0 }}
  {{ range .Data.Pages }}
    {{ if (lt ($.Scratch.Get "count") 15) }}
      {{ if eq .Type "photo"}}
        {{ $.Scratch.Add "count" 1 }}
        <div class="image-grid__entry">
          <a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">
            <img class="thumbnail" src="{{ ((.Resources.GetMatch "photo").Resize "140x" ).RelPermalink }}"><br>
            {{.Title}}
          </a>
        </div>
      {{ end }}
    {{ end }}
    {{ end }}
  </div>

  <a class="link-more" href="/albums" title="more">[…]</a>

  <h2><a href="/post">latest posts</a></h2>
  <ul>
    
  {{ $.Scratch.Set "count" 0 }}
  {{ range .Data.Pages }}
    {{ if (lt ($.Scratch.Get "count") 2) }}
      {{ if eq .Type "post"}}
        {{ $.Scratch.Add "count" 1 }}
        <li><a {{if.Params.color}}style="color:{{.Params.color}};"{{end}} href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
        <p>{{ .Summary}}</p>
        </li>
      {{ end }}
    {{ end }}
  {{ end }}
  </ul>
  
  <a class="link-more" href="/post" title="more">[…]</a>




  
{{ end }}

