{{ define "main" }}
  <h1>{{ .Title | lower }}</h1>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}
  <ul>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
    <li>
      <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
      <p>{{ .Summary}}</p>
    </li>
  {{ end }}
  </ul>
{{ end }}
