{{ define "main" }}
  <h1><a href="..">&nbsp;← </a>| <a href="..">{{.Type | pluralize}}</a> / <strong>{{ .Title }}</strong> | {{.Date.Format "2006-01-02"}}</h1>
  <div class="post">
  {{ .Content }}
  </div>
{{ end }}
