{{ define "main" }}
  <h1><a href="/track_tags">&nbsp;← </a>| <a href="/track">tracks</a> / <a href="/track_tags">tags</a> / {{ .Title | lower }}</h1>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}

  <p><strong>Note</strong>: The next track plays automatically if Javascript is enabled.</p>
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}

  
  {{ $color := .Params.color }}

  <div class="track-wrapper" {{if $color}}style="color:{{$color}}; border-color:{{$color}};"{{end}}>
      <div class="track-title-wrapper"><a {{if $color}}style="color:{{$color}};"{{end}} class="track-title" href="{{.Permalink}}">{{.Title}}</a> <span class="track-title-date">{{.Date.Format "2006-01-02"}}</span></div>
      <audio
        controls
        preload="metadata"
        src="{{.Permalink}}/{{.Params.file}}">
            Your browser does not support the
            <code>audio</code> element.
      </audio>


      <p> 
        {{ range .Params.track_tags }}
          [<a {{if $color}}style="color:{{$color}};"{{end}} href="/track_tags/{{ urlize . }}">{{ . }}</a>] 
        {{ end }}
      </p>
  </div>
  {{ end }}
{{ end }}
