
{{ define "main" }}

    <h1 id="title"><a href="/track">&nbsp;← </a>| <a href="/track">tracks</a> / tags</h1>

    {{ $data := .Data }}
    {{ range $key,$value := .Data.Terms.ByCount }}
    <h2><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> {{ $value.Count }}</h2>
    {{ end }}

{{ end }}
