{{ define "main" }}
  <h1>{{ .Title | lower }}</h1>

  <p><a href="/track_tags/">Browse by tags</a></p>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
  {{.Content}}
  <!-- Ranges through content/posts/*.md -->
  {{ range .Pages }}
  {{ partial "player.html" . }}
  {{ end }}
{{ end }}
